.header {
    color: #ca6702;
    text-align: center;
}

.container-main {
    display: flex;
    border: px solid
}

.container {
    background-color:seashell;
    width: 25%;
    border: 1px solid;
    text-align:justify;
}

.category {
    display: flex;
    flex-direction: column;
    padding: 0%;  
}

.category-item {
    height: 20%;    
    padding-top: 5%;
    padding-bottom: 5%;    
}

.politics {
    background-color: #000814;
    color: aliceblue;
}

.economy {
    background-color: #001d3d;
    color: aliceblue;
}

.sports {
    background-color: #003566;
    color: aliceblue;
}

.enviroument {
    background-color: #ffc300;
}

.memes {
    background-color: #ffd60a;
}

.big {
    width: 50%;
}

.bigger {
    width:75%;
}

.image {
    display: flexbox;
    width: 100%;    
    text-align: center;
}

img {
    max-width: 95%;
    max-height: 950%;
}